.App {
  text-align: center;
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .App-name {
    font-family: "Arial", sans-serif; /* Шрифт */
    font-weight: bold; /* Жирный текст */
    font-size: 2.5rem; /* Размер шрифта */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    letter-spacing: 2px; /* Межбуквенное расстояние */
    margin-top: 90px; /* Отступ сверху */
  }
  
  
  
  .App-link {
    color: inherit; /* Синий цвет ссылки */
    text-decoration: none; /* Убрать подчеркивание */
    font-size: 1.5rem; /* Увеличенный размер шрифта */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
  }
  
  .App-link:hover {
    color: red; /* Цвет ссылки при наведении */
  }
  
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }